<nav class="header">
    <img src="/img/nike-logo.png" alt="nike-logo" class="header__logo">
    <ul class="header__ul">
        <li class="header__ul__li">MAN</li>
        <li class="header__ul__li">WOMAN</li>
        <li class="header__ul__li">CUSTOMIZED</li>
    </ul>
</nav>