<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nike Mercurial | Superfly 360 Chapter 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="icon" href="./images/nike-favicon.png" type="image/x-icon">
</head>

<body>

    <!--
        nav:
        Global navigation system
    -->
    <nav class="nav">
        <div class="nav__container">
            <img class="nav__container__logo" src="./images/nike-logo.png" alt="nike-logo">
            <ul class="nav__container__list">
                <li class="nav__container__list__item">MAN</li>
                <li class="nav__container__list__item">WOMAN</li>
                <li class="nav__container__list__item">CUSTOMIZED</li>
            </ul>
        </div>
    </nav>

    <!--
        main-header:
        Call to action
    -->
    <header class="main-header">
        <div class="main-header__container">
            <h1 class="main-header__container__title">ENGINEERED TO FLY:</br>CHAPTER 6</h1>
            <p class="main-header__container__slogan">
                Why run when you could fly —
                </br>soccer's new level of attack.
            </p>
            <a href="/store">
                <button class="main-header__container__button">BUY NOW</button>
            </a>
        </div>
    </header>

    <!--
        phrase:
        CR7 phrase about his team
    -->
    <section class="phrase">
        <article class="phrase__container">
            <h2 class="phrase__title">“WHEN YOU PLAY FOR YOUR COUNTRY YOU WANT TO WIN, YOU WANT TO DEFEND YOUR COLORS”</h2>
            <p class="phrase__author">- Cristiano Ronaldo</p>
        </article>
    </section>

    <!--
        promotional-space:
        This section explain why this boots are so important to CR7
    -->
    <main>
        <section class="first-description">
            <img class="first-description__image" src="./images/dynamic-image.jpg" alt="dynamic-image">
            <div class="first-description__container">
                <h3 class="first-description__container__title">DYNAMIC LOCKDOWN</h3>
                <p class="first-description__container__info">
                    Super-strong, ultralight Flywire cables integrate with the laces for support, loosening and
                    tightening
                    with your foot's natural
                    motion
                </p>
            </div>
        </section>

        <section class="second-description">
            <div class="second-description__container">
                <h3 class="second-description__container__title">LIGHT, FLEXIBLE SUPPORT</h3>
                <p class="second-description__container__info">
                    The FlyWeave upper is more flexible in some areas and thicker and stronger in others, delivering
                    lightweight
                    support for sharp cuts and comfort for long sprints.
                </p>
            </div>
            <img class="second-description__image" src="./images/flexible-support.jpg" alt="">
        </section>

        <section class="first-description">
            <img class="first-description__image" src="./images/innovative-cushioning.jpg" alt="">
            <div class="first-description__container">
                <h3 class="first-description__container__title">INNOVATIVE CUSHIONINGT</h3>
                <p class="first-description__container__info"> Redesigned to enhance your sense of control, the
                    full-length Zoom Air unit offers ultra low-profile
                    cushioning
                    with added flexibility and bounce.</p>
            </div>
        </section>
    </main>

    <!--
        promotional-space:
        This section explain why this boots are so important to CR7
    -->
    <section class="promotional-space">
        <h4 class="promotional-space__title">SPEED KNOWS NO LIMITS</h4>
        <p class="promotional-space__info">Be the fastest in the world, break your limits, be like <strong>CR7</strong></p>
    </section>

    <!--
        extra-info:
        This section explain why this boots are so important to CR7
    -->
    <section class="extra-info">
        <article class="extra-info__container">
            <img class="extra-info__container__image" src="./images/chapter-image.png" alt="chapter-6-foot">
            <button class="extra-info__container__button__one"></button>
            <button class="extra-info__container__button__two"></button>
            <button class="extra-info__container__button__three"></button>
            <h2 class="extra-info__container__title">CHAPTER 6</h2>
            <p class="extra-info__container__info">
                The Nike Mercurial
                <strong>Superfly Cristiano Ronaldo Chapter 6 Pride of Portugal 2018</strong> football boots are the
                first CR7 signature
                edition to be based on the new Nike Mercurial Superfly VI 360 cleat model.
            </p>
        </article>
    </section>

    <!--
        specification:
        This section contemplate main characteristics about the Chapter 6 Foot
    -->
    <section class="specification">
        <article class="specification__container">
            <p class="specification__container__info">
                The Nike Mercurial Superfly VI Academy CR7 Multi-Ground Soccer Cleat provides exceptional ball touch
                and a comfortable, secure
                fit that promotes acceleration and quick directional changes on multiple kinds of surfaces.</br>
                </br>
                <strong>Benefits</strong>
                </br>
                </br>- Dynamic Fit collar for secure comfort
                </br>- Synthetic and textile upper for durable play
                </br>- Plush sockliner for low profile cushioning
                </br>- Multi-ground (MG) cleats for use on short-grass or artificial surfaces
                </br>- Shown: Clear Jade/Black/Hyper Turquoise/Metallic Vivid Gold
                </br>- Style: AJ3541-390
            </p>

            <button class="specification__container__button">BUY NOW</button>
        </article>
    </section>

    <!--
        product:
        Similar foots products 
    -->
    <section class="product">
        <div class="product__container">
            <h2 class="product__container__title">YOU MAY ALSO LIKE</h2>
            <article class="product__container__row">

                <article class="product__container__row__box">
                    <img class="product__container__row__box__image" src="./images/product-one2.png" alt="vapor">
                    <h4 class="product__container__row__box__title">
                        <strong>Nike Phantom Vision Dynamic</strong>
                    </h4>
                    <p class="product__container__row__box__info">
                        Firm-Ground Soccer Cleat
                        </br><strong>$275</strong>
                    </p>
                </article>

                <article class="product__container__row__box">
                    <img class="product__container__row__box__image" src="./images/product-two2.png" alt="vapor">
                    <h4 class="product__container__row__box__title">
                        Nike Mercurial Vapor Neymar Jr
                    </h4>
                    <p class="product__container__row__box__info">
                        Firm-Ground Soccer Cleat
                        </br><strong>$275</strong>
                    </p>
                </article>

                <article class="product__container__row__box">
                    <img class="product__container__row__box__image" src="./images/product-three.png" alt="vapor">
                    <h4 class="product__container__row__box__title">
                        <strong>Nike Mercurial Superfly VI Pro FG</strong>
                    </h4>
                    <p class="product__container__row__box__info">
                        Firm-Ground Soccer Cleat
                        </br><strong>$150</strong>
                    </p>
                </article>

                <article class="product__container__row__box">
                    <img class="product__container__row__box__image" src="./images/product-four2.png" alt="vapor">
                    <h4 class="product__container__row__box__title">
                        <strong>Nike Mercurial Superfly VI Academy</strong>
                    </h4>
                    <p class="product__container__row__box__info">
                        Multi-Ground Soccer Cleat
                        </br><strong>$71.97</strong>
                    </p>
                </article>
            </article>
        </div>
    </section>

    <!--
        news:
        The user type the email to recive new notifications 
    -->
    <section class="news">
        <div class="news__container">
            <h2 class="news__container__title">SIGN UP FOR NEWS</h2>
            <div class="news__container__wrap">
                <input class="news__container__wrap__input" type="text" id="fname" placeholder="YOUR EMAIL">
                <button class="news__container__wrap__button">SUBMIT</button>
            </div>
        </div>
    </section>

    <!--
        footer:
        Importants links related in all the organization
    -->
    <footer class="footer">
        <div class="footer-container">

            <div class="footer-container__list">
                <h5 class="footer-container__list__title">GIFT CARDS</h5>
                <ul class="footer-container__list__nav">
                    <li class="footer-container__list__nav__item">STUDENT DISCOUNT</li>
                    <li class="footer-container__list__nav__item">FIND A STORE</li>
                    <li class="footer-container__list__nav__item">SITE FEEDBACK</li>
                </ul>
            </div>

            <div class="footer-container__list">
                <h5 class="footer-container__list__title">GET HELP</h5>
                <ul class="footer-container__list__nav">
                    <li class="footer-container__list__nav__item">Order status</li>
                    <li class="footer-container__list__nav__item">Shipping and Delivery</li>
                    <li class="footer-container__list__nav__item">Returns</li>
                    <li class="footer-container__list__nav__item">Payment Options</li>
                    <li class="footer-container__list__nav__item">Contact Us</li>
                </ul>
            </div>

            <div class="footer-container__list">
                <h5 class="footer-container__list__title">ABOUT NIKE</h5>
                <ul class="footer-container__list__nav">
                    <li class="footer-container__list__nav__item">News</li>
                    <li class="footer-container__list__nav__item">Careers</li>
                    <li class="footer-container__list__nav__item">Converse Culture</li>
                    <li class="footer-container__list__nav__item">Investors</li>
                    <li class="footer-container__list__nav__item">Sustainable Innovation</li>
                    <li class="footer-container__list__nav__item">CA Supply Chains Act</li>
                </ul>
            </div>

            <div class="footer-container__social">
                <img class="footer-container__social__image" src="./images/facebook.png" alt="facebook">
                <img class="footer-container__social__image" src="./images/twitter.png" alt="twitter">
                <img class="footer-container__social__image" src="./images/instagram.png" alt="instagram">
            </div>
        </div>

        <p class="footer-copyright">© 2018 Nike, Inc. All Rights Reserved</p>
    </footer>

    <script src="/js/main.js"></script>

</body>

</html>